.btn-block-regstr {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.btn-block-submit {
    display: block;
    width: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.label-regstr {
    margin-top: 7px;
}

.form-signin input[type="email"] {
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.modal-header-delete {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #d9534f;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  color:white;
}
.modal-header-delete .close {
  margin-top: -2px;
}
