.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.overlay {
    fill: #F5F5F5;
    pointer-events: all;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.node {
    font: 7px sans-serif;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

#eValSlider .slider-selection {
	background: #BABABA;
}