{% extends "base.html" %}

    {% block head %}
        <link href="{{ static_url("css/index.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/testsvg.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/d3-context-menu.css") }}" rel="stylesheet">
        <link href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css" rel="stylesheet">
    {% end %}

    {% block login-info %}
        <p>
        {% if user ==None %}
            Login for access - 
            <a href="#loginModal" data-toggle="modal">
                Login
            </a>
        {% else %}
            <div id="username" value={{username}}>
                Welcome {{user}}! -
                <a href="/logout">Logout</a>
            </div>
        {% end %}
        </p>
    {% end %}

    {% block navbar %}
        {% if user != None %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#fileManagerModal" data-toggle="modal">File Manager</a></li>
                {% if openFile != None %}
                    <li><a href="/close">Close File</a></li>
                {% end %}
                <li class="divider"></li>
                <li><a href="/logout" data-toggle="modal">Logout</a></li>
            </ul>
        </li>
        {% if openFile != None %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Reads</a></li>
                <li><a href="#">Alignment</a></li>
                <li><a href="#">Taxonomy</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Data Visualization<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="treeOption">Tree</a></li>
                <li><a href="#" id="sunburstOption">Sunburst</a></li>
                <li><a href="#" id="blockOption">Block</a></li>
            </ul>
        </li>
        <li><a href="#" id="vis_options">Visualization Options</a></li>
        {% end %}
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#loginModal" data-toggle="modal">Login</a></li>
            </ul>
        </li> 
        {% end %}
    {% end %}


    {% block body %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% if openFile != None %}
                    <h4 class="openFile" id="openFile" value="{{openFile}}">{{openFile}}
                    <a type="button" class="close glyphicon glyphicon-remove" style="color:#000" href="/close"></a>
                    </h4>
                {% end %}
            </div>
        </div>
        <div class="row">
            <form enctype="multipart/form-data" action="/inspect" method="post" id="inspectForm">
                {% raw xsrf_form_html() %}
                <input type="text" name="taxId" id="inspectTaxIdInput" style="display:none;">
                <input type="text" name="taxName" id="inspectTaxNameInput" style="display:none;">
            </form>
            <div class="col-lg-12 col-md-12" id="chart">
            </div>
            <div class="col-lg-2 col-md-2 col-lg-pull-10 col-md-pull-10" id="vis_options_sidebar" style="display: none;">
                <h4>Modify View</h4>
                <div class="well">
                    <h5>Node Scale</h5>
                    <div class="radio">
                        <label>
                            <input type="radio" name="circleScaleRadios" id="circleLogRadius" value="log" checked>Log
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="circleScaleRadios" id="circleLinearRadius" value="linear">Linear
                        </label>
                    </div>
                    <hr style="border-color: #A9A9A9;">
                    <div class="text-center">
                        <button class="btn btn-primary btn-responsive" id="reset_SVG">Reset View</button>
                    </div>
                </div>
                <h4>Filters</h4>
                <div class="well">
                    <form>
                        <h5>e-Value</h5>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="ex 1e-5">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go</button>
                          </span>
                        </div>
                    </form>
                    <hr style="border-color: #A9A9A9;">
                    <h5>Count</h5>
                    <div class="input-group">
                      <input type="text" class="form-control" id="set_count_value" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" id="set_count_button" type="button">Go</button>
                      </span>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="inspect-container" id="inspect-container" style="display:none">
                    <h3 id="inspected-taxId">Inspected TaxId</h3>
                    <h3 id="inspected-status"><small id="inspected-status-small"></small></h3>
                    <a type="button" class="close glyphicon glyphicon-remove" id="close-inspect" style="color:#000" href="#"></a>
                    <hr>
                    <p id="inspect-results"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <br><br><br>
            </div>
        </div>

    {% end %}

    {% block modals %}
        {% if user == None %}
        <div id="loginModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Login</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post" id="login_form" class="form-signin">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="email" class="sr-only">Email address</label>
                                <input type="email" name="emailAddress" id="emailAddress" class="form-control" placeholder="Email address" required/>
                            </fieldset>
                            <fieldset>
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
                            </fieldset>
                            <fieldset>
                                <div class="checkbox">
                                    <label class="col-lg-6 col-sm-6">
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                    <p class="col-lg-6 col-sm-6 text-right">
                                        <a href="#registerModal" data-dismiss="modal" data-toggle="modal">New user?</a>
                                    </p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="registerModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Register</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/register" method="post" id="register_form" class="form-register">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="firstName" class="label-regstr">First Name</label>
                                <input type="firstName" id="firstName" name="firstName" class="form-control" placeholder="First Name" required />
                            </fieldset>
                            <fieldset>
                                <label for="lastName" class="label-regstr">Last Name</label>
                                <input type="lastName" id="lastName" name="lastName" class="form-control" placeholder="Last Name" required/>
                            </fieldset>
                            <fieldset>
                                <label for="email" class="label-regstr">Email Address</label>
                                <input type="email" id="email" name="emailAddress" class="form-control" placeholder="Email Address" required/>
                            </fieldset>
                            <fieldset>
                                <label for="password" class="label-regstr">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block-regstr" type="submit">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        
        <div id="fileManagerModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header-fileManager">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">File Manager</h3>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="/manage" method="post" id="manage_form" class="form-manage">
                            {% raw xsrf_form_html() %}
                            <div class="table-responsive fileTable">
                                <table class="table" id="fileManageTable">
                                <thead>
                                    <tr>
                                        <th width="5%" data-field="id" data-align="right"></th>
                                        <th data-field="id" data-align="right">File Name</th>
                                        <th data-field="name" data-align="center">Date Created</th>
                                        <th data-field="price" data-align="left">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id=hidden style="display:none;">
                                        <td><input type="radio" name="fileName" value="hidden"></td>
                                        <td>hidden</td>
                                        <td>None</td>  
                                        <td id="progress-finished">None</td>
                                    </tr>
                                    {% for fileName in fileListing %}
                                    <tr id={{fileName}}>
                                        <td><input type="radio" name="fileName" value="{{fileName}}"></td>
                                        <td>{{fileName}}</td>
                                        <td>None</td>  
                                        <td id="progress-finished">None</td>
                                    </tr>
                                    {% end %}
                                  </tbody>
                                </table>
                            </div>
                            <p>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary" type="submit" name="open">Open</button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary" type="submit" name="update">Update Status</button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-danger" type="submit" name="delete">Delete</button> 
                                    </div>
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Browse&hellip; <input type="file" name="upFile" id="upload_file" />
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button id="upload_button" class="btn btn-primary" type="submit" name="upload">
                                            Upload
                                        </button>
                                    </span>
                                </div>
                            </p>
                            <input type="file" name="upFile" id="upload_file" style="display: none;"/>
                        </form>
                        <div class="errorMessage" id="managerErrorMessage" style="display:none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% end %}
    {% end %}

    {% block scripts %}
        <script src="{{ static_url('js/index.js') }}"></script>
        {% if openFile != None %}
            <script src="{{ static_url('js/d3-context-menu.js') }}"></script>
            <script src="{{ static_url('js/TreeSVG.js') }}"></script>
            <!--<script src="{{ static_url('js/TreeSVG2.js') }}"></script>-->
        {% end %}
    {% end %}
