{% extends "base.html" %}

    {% block head %}
        <link href="{{ static_url("css/index.css") }}" rel="stylesheet">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        {% block data_head %}
        {% end %}
    {% end %}

    {% block navbar %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/">File Manager</a></li>
                {% if openFile != None %}
                    <li><a href="/close">Close File</a></li>
                {% end %}
                <li class="divider"></li>
                <li><a href="/logout" data-toggle="modal">Logout</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/report#alignments">Alignment</a></li>
                <li><a href="/report#taxonomy">Taxonomy</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Data Visualization<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/tree" id="treeOption">Tree</a></li>
                <li><a href="#" id="sunburstOption">Sunburst</a></li>
            </ul>
        </li>
        {% block data_navbar %}
        {% end %}
    {% end %}

    {% block body %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% if openFile != None %}
                    <h4 class="open-file" id="open-file" value="{{openFile}}">{{openFile}}
                        <a type="button" class="close glyphicon glyphicon-remove" style="color:#000" href="/close"></a>
                    </h4>
                {% end %}
            </div>
        </div>
        {% block data_body %}
        {% end %}    
    {% end %}

    {% block scripts %}
        {% block data_scripts %}
        {% end %}
    {% end %}
