{% extends "base.html" %}

    {% block head %}
        <link href="{{ static_url("css/index.css") }}" rel="stylesheet">
    {% end %}

    {% block login-info %}
        <p>
        {% if user ==None %}
            Login for access - 
            <a href="#loginModal" data-toggle="modal">
                Login
            </a>
        {% else %}
            Welcome {{user}}! - 
            <a href="/logout">Logout</a>
        {% end %}
        </p>
    {% end %}

    {% block navbar %}
        {% if user != None %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#uploadModal" data-toggle="modal">Upload</a></li>
                <li><a href="#openModal" data-toggle="modal">Open</a></li>
                <li><a href="#">Export</a></li>
                <li class="divider"></li>
                <li><a href="/logout" data-toggle="modal">Logout</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Statistics <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Reads</a></li>
                <li><a href="#">Alignment</a></li>
                <li><a href="#">Taxonomy</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Data Visualization<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Tree</a></li>
                <li><a href="#">Sunburst</a></li>
                <li><a href="#">Block</a></li>
            </ul>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#loginModal" data-toggle="modal">Login</a></li>
            </ul>
        </li> 
        {% end %}
    {% end %}


    {% block body %}
        <div class="col-lg-12">
            <p> Index body placeholder </p>
        </div>
    {% end %}

    {% block modals %}
        {% if user == None %}
        <div id="loginModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Login</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post" id="login_form" class="form-signin">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="email" class="sr-only">Email address</label>
                                <input type="email" name="emailAddress" id="emailAddress" class="form-control" placeholder="Email address" required autofocus/>
                            </fieldset>
                            <fieldset>
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
                            </fieldset>
                            <fieldset>
                                <div class="checkbox">
                                    <label class="col-lg-6 col-sm-6">
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                    <p class="col-lg-6 col-sm-6 text-right">
                                        <a href="#registerModal" data-dismiss="modal" data-toggle="modal">New user?</a>
                                    </p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="registerModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Register</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/register" method="post" id="register_form" class="form-register">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="firstName" class="label-regstr">First Name</label>
                                <input type="firstName" id="firstName" name="firstName" class="form-control" placeholder="First Name" required autofocus/>
                            </fieldset>
                            <fieldset>
                                <label for="lastName" class="label-regstr">Last Name</label>
                                <input type="lastName" id="lastName" name="lastName" class="form-control" placeholder="Last Name" required/>
                            </fieldset>
                            <fieldset>
                                <label for="email" class="label-regstr">Email Address</label>
                                <input type="email" id="email" name="emailAddress" class="form-control" placeholder="Email Address" required/>
                            </fieldset>
                            <fieldset>
                                <label for="password" class="label-regstr">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block-regstr" type="submit">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div id="uploadModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Upload file</h3>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="/upload" method="post" id="upload_form" class="form-upload">
                            {% raw xsrf_form_html() %}
                            <input type="file" name="upFile" required/>
                            <button class="btn btn-lg btn-primary btn-block-submit" type="submit">Submit</button>
                        </form>
                        <div class="errorMessage" id="uploadErrorMessage" style="display:none">
                            No file selected
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="openModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Open file</h3>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="/open" method="post" id="open_form" class="form-open">
                            {% raw xsrf_form_html() %}
                            <select multiple class="form-control input-medium" name="fileName" required>
                                {% for fileName in fileListing %}
                                    <option>{{fileName}}</option>
                                {% end %}
                            </select>
                            <button class="btn btn-lg btn-primary btn-block-submit" type="submit">Submit</button>
                        </form>
                        <div class="errorMessage" id="uploadErrorMessage" style="display:none">
                            No file selected
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% end %}
    {% end %}

    {% block scripts %}
        <script src="{{ static_url('js/checkform_index.js') }}"></script>
    {% end %}
