{% extends "base.html" %}

    {% block head %}
        <link href="{{ static_url("css/index.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/file_manager.css") }}" rel="stylesheet">
    {% end %}

    {% block navbar %}
        {% if user != None %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <!--<li><a href="#fileManagerModal" data-toggle="modal">File Manager</a></li>
                <li class="divider"></li>-->
                <li><a href="/logout" data-toggle="modal">Logout</a></li>
            </ul>
        </li>
            {% if openFile != None %}
                <li><a href="/sunburst">Return to Open File</a></li>
            {% end %}
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#loginModal" data-toggle="modal">Login</a></li>
            </ul>
        </li> 
        {% end %}
    {% end %}


    {% block body %}
        {% if user != None %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>Project Manager</h3>
            </div>
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-tabs" role="tablist" id="manageTabs">
                    <li role="presentation" class="active"><a href="#Open" aria-controls="Open" role="tab" data-toggle="tab">Open</a></li>
                    <li role="presentation"><a href="#Compare" aria-controls="Compare" role="tab" data-toggle="tab">Compare</a></li>
                    <!--<li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Upload<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#AlignUpload" aria-controls="Upload" role="tab" data-toggle="tab">Alignment</a></li>
                            <li><a href="#MapUpload" aria-controls="Upload" role="tab" data-toggle="tab">Mapping</a></li>
                        </ul>   
                    </li>-->
                    <li role="presentation"><a href="#AlignUpload" aria-controls="AlignUpload" role="tab" data-toggle="tab">Upload</a></li>
                    <li role="presentation"><a href="#Delete" aria-controls="Delete" role="tab" data-toggle="tab">Delete</a></li>
                    <li role="presentation"><input type="text" id="fileName_search" class="form-control" placeholder="Search"></li>
                    <li role="presentation" class="pull-right" style="display: none;" id="compare_sets_button_container"><button class="btn btn-primary btn-compare disabled" id="compare_sets_submit">Compare</button></li>
                    <li role="presentation" class="pull-right" style="display: none;" id="test_type_container"><p id="test_type">stuff</p></li>
                </ul>
                <div class="tab-content">
                    <!--OPEN-->
                    <div role="tabpanel" class="tab-pane active" id="Open">
                        <form enctype="multipart/form-data" action="/open" method="post" id="open_form" class="form-manage">
                            {% raw xsrf_form_html() %}
                            <input type="text" name="fileName" id="open_file" style="display: none;"/>
                        </form>
                    </div>
                    <!--COMPARE-->
                    <div role="tabpanel" class="tab-pane" id="Compare">
                        <br>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="panel panel-default set_container" id="set1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed" id="set1_title">
                                                Set 1
                                            </a>
                                        </h3>

                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div id="set1_list" class="list-group">
                                        </div>
                                    </div>
                                    <div class="panel-footer clearfix">
                                        <div class="btn-group btn-group-sm pull-left" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default set1_buttons set_save" id="set1_save">Save</button>
                                            <button type="button" class="btn btn-default set1_buttons" data-toggle="modal" data-target="#load_set">Load</button>
                                        </div>
                                        <p class="set-status-text pull-left" id="set1_status">
                                        </p>
                                        <button type="button" class="btn btn-sm btn-default set1_buttons set_clear pull-right" id="set1_clear">Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="panel panel-default set_container" id="set2">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed" id="set2_title">
                                                Set 2
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div id="set2_list" class="list-group">
                                        </div>
                                    </div>
                                    <div class="panel-footer clearfix">
                                        <div class="btn-group btn-group-sm pull-left" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default set2_buttons set_save" id="set2_save">Save</button>
                                            <button type="button" class="btn btn-default set2_buttons" data-toggle="modal" data-target="#load_set">Load</button>
                                        </div>
                                        <p class="set-status-text pull-left" id="set2_status">
                                        </p>
                                        <button type="button" class="btn btn-sm btn-default set2_buttons pull-right set_clear" id="set2_clear">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form enctype="multipart/form-data" action="/compare" method="post" id="compare_form" class="form-manage">
                            {% raw xsrf_form_html() %}
                            <input type="text" name="compareFiles" id="set_files_input" style="display: none;"/>
                        </form>
                    </div>
                    <!--UPLOAD-->
                    <div role="tabpanel" class="tab-pane" id="AlignUpload">
                        <br>
                        <h4>Alignment File Upload</h4>
                        <div id="bar_container">
                        </div>
                        <div id="uploadErrorMessage">
                        </div>
                        <form enctype="multipart/form-data" action="/upload" method="post" id="upload_form" class="form-manage">
                            {% raw xsrf_form_html() %}
                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group" id="upload-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse&hellip; <input type="file" name="upFile" id="upload_file" multiple/>
                                        </span>
                                            </span>
                                        <input type="text" class="form-control" id="upload_name" readonly></input>
                                        <div class="input-group-btn">                                 
                                            <button id="upload_button" class="btn btn-success disabled" type="button" name="upload">
                                                Upload
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="uploadOptions" id="uploadOptions" hidden>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="optionHeader">
                                                    <div class="optionHeaderTitle">Upload Options
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="clear_upload"><span aria-hidden="true">&times;</span></button>   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="uploadOptionsBody">
                                                <div class="col-lg-3 col-md-3">
                                                    <div class="optionText">
                                                        <label for="fileFormat">File Format</label>
                                                        <select class="form-control" id="fileFormat" name="fileFormat">
                                                            <option>Blast Tabular (outfmt 6)</option>
                                                            <option>SAM File</option>
                                                            <option>Custom</option>
                                                        </select>                                             
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3">                                        
                                                    <div class="optionText">
                                                    <p>Data Cleaning</p>
                                                    <label for="useLca">
                                                        <input type="hidden" value="False" name="useLca" >
                                                        <input type="checkbox" value="True" name="useLca" id="useLca" checked>  Use LCA
                                                    </label>
                                                    <label for="useAccordion">
                                                        <input type="hidden" value="False" name="useAccordion" >
                                                        <input type="checkbox" value="True" name="useAccordion" id="useAccordion" checked>  Accordion Data (NYI)
                                                    </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="customFileFormatRow" hidden>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="optionSubHeader">
                                                        <div class="optionHeaderTitle">Custom File Format   
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="uploadOptionsBody">
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="optionText">
                                                            <label for="delimiters">Delimiters  
                                                                <!--<span class="glyphicon glyphicon-plus delimiter-glyph" id="addDelimiter"></span>
                                                                <span class="glyphicon glyphicon-minus delimiter-glyph" id="removeDelimiter"></span>-->
                                                            <select class="form-control delimiter-select" id='delimiters' name="delimiter"></label>
                                                                <option>Tab</option>
                                                                <option>Space</option>
                                                                <option>Comma</option>
                                                                <option>Custom</option>
                                                            </select>
                                                            <div class="customDelimiter" hidden>
                                                                <label for="customDelimiter">Custom Delimiter</label>
                                                                <input class="form-control" placeholder="" id="customDelimiter" name="customDelimiter"></input>
                                                            </div>
                                                            <!--<div id="additionalDelimiters">
                                                            </div>-->
                                                        </div>
                                                        <div class="optionText">
                                                            <label for="readNameIndex">Read Name Index</label>
                                                            <input class="form-control" placeholder="1" id="readNameIndex" name="readNameIndex"></input>
                                                            <label> 
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="optionText">
                                                            <label for="seqIdIndex">SeqId Index</label>
                                                            <input class="form-control" placeholder="2" id="seqIdIndex" name="seqIdIndex"></input>
                                                            <label for="seqIdDelimiter">SeqId Delimiter</label>
                                                            <input class="form-control" placeholder="Optional" id="seqIdDelimiter" name="seqIdDelimiter"></input>
                                                            <label for="seqIdSubIndex">SeqId Sub-Index</label>
                                                            <input class="form-control" placeholder="Optional" id="seqIdSubIndex" name="seqIdSubIndex"></input>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="optionText">
                                                            <label for="scoreIndex">Score Index</label>
                                                            <input class="form-control" placeholder="6" id="scoreIndex" name="scoreIndex"></input>
                                                            <label> 
                                                                <input type="radio" value="lower" name="scorePref" />  Lower score is "better"
                                                            </label>
                                                            <label> 
                                                                <input type="radio" value="higher" name="scorePref" />  Higher score is "better"
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="optionText">
                                                            <label for="headerFile">Header File</label>
                                                            <input class="form-control" type="file" id="headerFile"></input>
                                                            <input name="headerData" id="headerData" hidden></input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                    <!--DELETE-->
                    <div role="tabpanel" class="tab-pane" id="Delete">
                        <form enctype="multipart/form-data" action="/delete" method="post" id="delete_form" class="form-manage">
                            {% raw xsrf_form_html() %}
                            <input type="text" name="fileName" id="delete_file" style="display: none;"/>
                        </form>
                    </div>
                    <!--FILE TABLE-->
                    <div class="table-responsive fileTable" id="fileTable">
                        <table class="table table-striped table-hover" id="projectManagerTable">
                            <thead>
                                <tr>
                                    <th width="5%" data-field="userAction" data-align="right" class="select_all_checkbox_container">
                                        <input type="checkbox" id="selectAllFiles" style="display: none;"></input>
                                    </th>
                                    <th width="55%" data-field="id" data-align="right" id="tableFileName">File Name</th>
                                    <th width="20%" data-field="date" data-align="center">Date Created</th>
                                    <th width="20%" data-field="status" data-align="left">Status</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                {% for index,fileName in enumerate(fileListing) %}
                                <tr name={{fileName}} class="selectableFiles" id={{fileName}}>
                                    <td><a type="button" class="close glyphicon glyphicon-open openFileButton" style="color:#000050" name="openFile"></a></td>
                                    <td>{{fileName}}</td>
                                    <td>{{dateModified[index]}}</td>  
                                    <td id={{fileName}}_status>{{statuses[index]}}</td>
                                </tr>
                                {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>                
                
                <hr>
            </div>
        </div>
        {% end %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="about"><h3>About</h3></div><br>
                TaxAssessor is a <a href="http://www.d3js.org">d3js</a>-based metagenomic visualization suite created by the <a href="http://www.stengleinlab.org/">Stenglein lab</a> at <a href="http://www.colostate.edu">Colorado State University</a>.  It is available as a standalone application deployable to your local server.  It has the added functionality of being 100% scriptable so as to tie in with your metagenomic analysis pipelines.<br>
                    TaxAssessor strives to be modern browser agnostic.  As such, if you discover any issues with your browser, please let us know and we will address the issue.
                <hr>
                <h3>Source</h3><br>
                TaxAssessor is freely available under the MIT license.
                <ul><li><a href="https://github.com/stenglein-lab/TaxAssessor">Github Repository</a></li></ul><br>
                <h4>Installing TaxAssessor:</h4>
                <hr>
                <h3>Try It!</h3><br>
                <hr>
                <div id="contact"><h3>Contact Us</h3></div><br>
                <ul>
                    <li><a href="http://www.stengleinlab.org/">The Stenglein Lab</a></li>
                    <li>Dr. Mark Stenglein (Assistant Professor)</li>
                    <li>Dr. Joseph Allison (Post-doc)</li>
                </ul>
                <hr>                
            </div>
        </div>
    {% end %}

    {% block modals %}
        {% if user == None %}
        <div id="loginModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Login</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post" id="login_form" class="form-signin">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="email" class="sr-only">Email address</label>
                                <input type="email" name="emailAddress" id="emailAddress" class="form-control" placeholder="Email address" required/>
                            </fieldset>
                            <fieldset>
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
                            </fieldset>
                            <fieldset>
                                <div class="checkbox">
                                    <label class="col-lg-6 col-sm-6">
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                    <p class="col-lg-6 col-sm-6 text-right">
                                        <a href="#registerModal" data-dismiss="modal" data-toggle="modal">New user?</a>
                                    </p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="registerModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Register</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/register" method="post" id="register_form" class="form-register">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="firstName" class="label-regstr">First Name</label>
                                <input type="firstName" id="firstName" name="firstName" class="form-control" placeholder="First Name" required />
                            </fieldset>
                            <fieldset>
                                <label for="lastName" class="label-regstr">Last Name</label>
                                <input type="lastName" id="lastName" name="lastName" class="form-control" placeholder="Last Name" required/>
                            </fieldset>
                            <fieldset>
                                <label for="email" class="label-regstr">Email Address</label>
                                <input type="email" id="email" name="emailAddress" class="form-control" placeholder="Email Address" required/>
                            </fieldset>
                            <fieldset>
                                <label for="password" class="label-regstr">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block-regstr" type="submit">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        {% else %}
        <div id="save_set" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Save Set</h3>
                    </div>
                    <div class="modal-body">
                        <form action="/saveSet" method="post" id="save_set_form" class="form-save-set">
                            {% raw xsrf_form_html() %}
                            <fieldset>
                                <label for="setName" class="label-set">Set Name</label>
                                <input type="setName" id="setName" name="setName" class="form-control" placeholder="Name your set" required />
                            </fieldset>
                            <fieldset>
                                <label for="setFiles" class="label-set">Set Files</label>
                                <textarea readonly type="setFiles" id="setFiles" name="setFiles" class="form-control" required/></textarea>
                            </fieldset>
                            <fieldset>
                                <button class="btn btn-lg btn-primary btn-block-regstr" type="submit" id="saveSetButton">Save</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="load_set" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" style="color:#000" data-dismiss="modal"></button>
                        <h3 class="modal-title">Load Set</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive setTable" id="setTable">
                            <table class="table table-striped table-hover" id="setTable1">
                                <thead>
                                    <tr>
                                        <th width="15%" data-field="id" data-align="right"></th>
                                        <th width="85%" data-field="id" data-align="right"></th>
                                    </tr>
                                </thead>
                                <tbody id="setTableBody">
                                    {% for setName in setNames %}
                                        <tr name={{setName}} class="selectableSets">
                                            <td><a type="button" class="close glyphicon glyphicon-open loadSetButton" style="color:#000050" name="loadSet"></a></td>
                                            <td>{{setName}}</td>
                                        </tr>
                                    {% end %}
                                </tbody>
                            </table>
                        </div>
                        <form action="/getSet" method="post" id="getSetForm" class="form-get-set">
                            {% raw xsrf_form_html() %}
                            <input type="hidden" id="getSetName" name="setName" class="form-control"/>
                        </form>
                    </div>
                    <div class="modal-footer" style="display: none;" id="loadErrorFooter">
                    </div>
                </div>
            </div>
        </div>
        
        <!--
        <div class="modal fade" id="uploadOptions" tabindex="-1" role="dialog" aria-labelledby="uploadOptionsLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="uploadOptionsLabel">Upload Options</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fileFormat">File Format</label>
                                <select class="form-control" id="fileFormat">
                                    <option>Auto detect</option>
                                    <option>Custom</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="useLca">
                                    <input type="hidden" value="False" name="useLca" >
                                    <input type="checkbox" value="True" name="useLca" id="useLca" checked>  Use LCA
                                </label>
                                <label for="defaultOptions">
                                    <input type="hidden" value="False" name="defaultOptions" >
                                    <input type="checkbox" value="True" name="defaultOptions" id="defaultOptions" checked>  Use default options
                                </label>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>                                             
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-8">
                                stuff
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        
        {% end %}
    {% end %}
