{% extends "logged_in_with_file_open.html" %}
    {% block data_head %}
    <link href="{{ static_url("css/report.css") }}" rel="stylesheet">
    {% end %}


    {% block data_body %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 id="alignments">Report: Alignments</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <table class="table table-striped"></div>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody id="align_table_data">
                </tbody>
            </table>
        </div>
        <div class="col-lg-8 col-md-8">
            <h4>Gene Distribution Across Reads</h4>
            <div class="gi_chart" id="gi_chart"></div>
        </div>
    </div>       
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3 id="taxonomy">Report: Taxonomy</h3>
        </div>
    </div> 
    {% end %} 
    
    {% block data_scripts %}
        <script src="{{ static_url('js/report.js') }}"></script>
    {% end %}